
<div>
	<ul class="breadcrumb">
		<li><a href="${contextPath}/">Home</a></li>
		<li>Clusters</li>
	</ul>
</div>
<div class="row">
	<div class="box col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-9" style="line-height: 30px;">
						<h4>
							<i class="glyphicon glyphicon-th"></i> Cluster List
						</h4>
					</div>
					<div class="col-md-3">
						<a class="btn btn-default" href="${contextPath}/view/cluster/create"> <i class="glyphicon glyphicon-edit icon-white"></i> Create Cluster
						</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th rowspan="1" colspan="1" style="width: 99px;">Code</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Name</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Nodes</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr class="line">
							<td><a href="${contextPath}/view/cluster/detail?id=${cluster.id}">${cluster.code}</a></td>
							<td>${cluster.name}</td>
							<td>${node.instanceId}
							<td><a class="btn btn-default" href="${contextPath}/view/cluster/update?id=${cluster.id}"><i class="glyphicon glyphicon-pencil"></i><span> Update</span></a> <a class="btn btn-default" href="${contextPath}/view/cluster/delete?id=${cluster.id}"><i class="glyphicon glyphicon-trash"></i><span>
										Delete</span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
