
<div>
	<ul class="breadcrumb">
		<li><a href="/view/index.html">Home</a></li>
		<li>Gateways</li>
	</ul>
</div>
<div class="row">
	<div class="box col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-9" style="line-height: 30px;">
						<h4>
							<i class="glyphicon glyphicon-th"></i> Gateway List
						</h4>
					</div>
					<div class="col-md-3">
						<a class="btn btn-default" href="${contextPath}/view/gateway/create"> <i class="glyphicon glyphicon-edit icon-white"></i> Create Gateway
						</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th rowspan="1" colspan="1" style="width: 99px;">Gateway Name</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Cluster Name</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Endpoint</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Remark</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Status</th>
							<th rowspan="1" colspan="1" style="width: 99px;">Actions</th>
						</tr>
					</thead>
					<tbody id="appList">
						<tr class="line">
							<td><a href="${contextPath}/view/gateway/detail?id=${gateway.id}">${gateway.name}</a></td>
							<td>${gateway.code}</td>
							<td>${gateway.host}:${gateway.port}</td>
							<td>${gateway.remark}</td>
							<td>Closed</td>
							<td><a class="btn btn-default" href="${contextPath}/view/gateway/start?id=${gateway.id}"><i class="glyphicon glyphicon-cog"></i><span> Start</span></a> <a class="btn btn-default" href="${contextPath}/view/gateway/update?id=${gateway.id}"><i class="glyphicon glyphicon-pencil"></i><span>
										Update</span></a> <a class="btn btn-default" href="${contextPath}/view/gateway/delete?id=${gateway.id}"><i class="glyphicon glyphicon-trash"></i><span> Delete</span></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
